* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('assets/animated-gifs-of-fighting-game-backgrounds-44.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* This kills the horizontal scrollbar */
    overflow-y: hidden; /* Optional: kills vertical scrollbar too */
    height: 100vh;      /* Makes sure the body takes up the full screen height */
    width: 100vw;       /* Makes sure the body takes up the full screen width */
}.char{
    position: absolute;
    bottom: 5%;
  
}
#ch1{
    width: 130px;
    left: 100px;
}
#ch2{
    width: 180px;
    transform: scaleX(-1);
    right: 100px;
}